# 0921 오늘 축제날이다!!

In [2]:
import pandas as pd

In [3]:
#딕셔너리를 시리즈로 변환해보기. 
# 딕셔너리 데이터를 만들고 그걸 판다스의 Series함수로 굴리면 시리즈가 되어 나온다
dict_data = {'a':1,'b':2,'c':3}
sr = pd.Series(dict_data)
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [8]:
#리스트를 시리즈로 변환해보기.
#리스트는 별도의 인덱스가 없으므로 디폴트 숫자 0 1 2..가 된다
lt = ['2022-09-21',3.14,True]  # 섞어서 객체형 자료가 된건가?

sr1 = pd.Series(lt)
print(sr1)

0    2022-09-21
1          3.14
2          True
dtype: object

In [9]:
#리스트를 숫자형으로만 만들면?
lt = [2.0,3.14,5.0]

sr1 = pd.Series(lt)
print(sr1)

0    2.00
1    3.14
2    5.00
dtype: float64

In [4]:
#시리즈sms index, values 속성을 갖고있다.
print(sr.index)
print(sr.values)

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]
3
3

In [11]:
print(sr1.index) # 자동 인덱스는, range로 붙어있는걸 확인할 수 있다

RangeIndex(start=0, stop=3, step=1)

In [18]:
#튜플을 이용해서 시리즈 객체 생성하기 ( 튜플을 시리즈로 바꾸기)
tp = ('2022-09-21',3.14,2,True)
sr2 = pd.Series(tp,index=['문자','실수','정수','논리'])
print(sr2) #튜플 데이터에 인덱스를 지정한 시리즈로 만듬

문자    2022-09-21
실수          3.14
정수             2
논리          True
dtype: object

In [ ]:
#인덱스로 호출해도, 값으로 호출해도 된다
print(sr[2])   
print(sr['c'])

In [20]:
## data Frame
dic1= {'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]}
df = pd.DataFrame(dic1)
print(df)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [28]:
#열이름, 인덱스명을 지정하여 df생성하기
df1= pd.DataFrame([[15,'여','영주여중'],[15,'여','영주여중']],
                  index=['서주민','김수진'],
                  columns=['나이','성별','학교'])

print(df1)  #위와 차이점.. 행렬이 뒤집히지 않음

     나이 성별    학교
서주민  15  여  영주여중
김수진  15  여  영주여중

In [22]:
print(df1.index)
print(df1.columns)

Index(['서주민', '김수진'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [29]:
#인덱스, 칼럼명 변경 
df1.index = ['std1','std2']
df1.columns=['age','gen','school']

In [30]:
print(df1)

      age gen school
std1   15   여   영주여중
std2   15   여   영주여중

In [31]:
df1.rename(columns={'age':'연령','gen':'남여','school':'소속'})
print(df1) #안바뀜. 왜?!
  
df2 = df1.rename(columns={'age':'연령','gen':'남여','school':'소속'})
print(df2) #바뀜! rename의 특징. 1회 바꿔서 보자! 라는 뜻이 된다. 원본 데이터를 지키기위해서~

df1.rename(columns={'age':'연령','gen':'남여','school':'소속'},
          inplace=True)
print(df1) #inplace True면 고쳐진다!!

      age gen school
std1   15   여   영주여중
std2   15   여   영주여중
      연령 남여    소속
std1  15  여  영주여중
std2  15  여  영주여중
      연령 남여    소속
std1  15  여  영주여중
std2  15  여  영주여중