In [1]:
#0928 데이터프레임 만들기
#DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
import pandas as pd
exam_data={'수학':[90,80,70],
         '국어':[90,80,70],
         '영어':[90,80,70],
         '정보':[90,80,70]}
df = pd.DataFrame(exam_data,index=['서줌','유진','주안'])
print(df)

    수학  국어  영어  정보
서줌  90  90  90  90
유진  80  80  80  80
주안  70  70  70  70

In [2]:
#1개의 원소를 선택
print(df.loc['서줌','국어'])
print(df)
print(df.iloc[0,2])
print(df)

90
    수학  국어  영어  정보
서줌  90  90  90  90
유진  80  80  80  80
주안  70  70  70  70
90
    수학  국어  영어  정보
서줌  90  90  90  90
유진  80  80  80  80
주안  70  70  70  70

In [3]:
#2개 이상의 원소를 리스트로 선택
print(df.loc['서줌','국어':'영어'])
print(df)
print(df.iloc[0,2:])
print(df)

국어    90
영어    90
Name: 서줌, dtype: int64
    수학  국어  영어  정보
서줌  90  90  90  90
유진  80  80  80  80
주안  70  70  70  70
영어    90
정보    90
Name: 서줌, dtype: int64
    수학  국어  영어  정보
서줌  90  90  90  90
유진  80  80  80  80
주안  70  70  70  70

In [4]:
#2개 이상의 원소를 데이터 프레임으로 선택
print(df.loc[['서줌','유진'],['국어','영어']])
print(df.iloc[[0,1],[2,3]])
print(df.loc['서줌':'주안','국어':'영어'])
print(df.iloc[0:2,2:])
              
print(df[['수학','국어']])
print(type(df[['수학','국어']]))

    국어  영어
서줌  90  90
유진  80  80
    영어  정보
서줌  90  90
유진  80  80
    국어  영어
서줌  90  90
유진  80  80
주안  70  70
    영어  정보
서줌  90  90
유진  80  80
    수학  국어
서줌  90  90
유진  80  80
주안  70  70
<class 'pandas.core.frame.DataFrame'>

In [22]:
#새로운 행(row)추가 - 같은 원소 값 입력
df.loc[3]='0'
print(df)

#새로운 행(row)추가 - 원소값 여러개의 배열 입력
df.loc[4] = [100,100,100,100]
print(df)

#새로운행 - 기존행 복사해서
df.loc[5] = df.loc[3] 
print(df)

     수학   국어   영어   정보
서줌  100  100  100  100
유진   80   80   80   80
주안   70   70   70   70
5     0    0    0    0
국어   50   60   70   80
승현  100   90   80   70
3     0    0    0    0
     수학   국어   영어   정보
서줌  100  100  100  100
유진   80   80   80   80
주안   70   70   70   70
5     0    0    0    0
국어   50   60   70   80
승현  100   90   80   70
3     0    0    0    0
4   100  100  100  100
     수학   국어   영어   정보
서줌  100  100  100  100
유진   80   80   80   80
주안   70   70   70   70
5     0    0    0    0
국어   50   60   70   80
승현  100   90   80   70
3     0    0    0    0
4   100  100  100  100

In [23]:
##원소의 수정
df.loc['국어']=[100,90,80,50] # 이미 있는 값이면 수정이됨. 리스트로 줬음
print(df)
df.loc['국어']=50,60,70,80 #튜플로줌. 튜플은 소괄호 말고 콤마가 중요함
print(df)
df.loc['서줌']=100 # 서줌 값이 모두 100으로 변경
print(df)
df.loc['승현']=[100,90,80,70] #없던 값 쓰면 추가됨
print(df)
df.drop([3,4,5],axis=0,inplace=True) #345 잘못만들어서 삭제함. inplace true해줘야 진짜 삭제됨. 아님 삭제된 객체를 반환함.
print(df)

     수학   국어   영어   정보
서줌  100  100  100  100
유진   80   80   80   80
주안   70   70   70   70
5     0    0    0    0
국어  100   90   80   50
승현  100   90   80   70
3     0    0    0    0
4   100  100  100  100
     수학   국어   영어   정보
서줌  100  100  100  100
유진   80   80   80   80
주안   70   70   70   70
5     0    0    0    0
국어   50   60   70   80
승현  100   90   80   70
3     0    0    0    0
4   100  100  100  100
     수학   국어   영어   정보
서줌  100  100  100  100
유진   80   80   80   80
주안   70   70   70   70
5     0    0    0    0
국어   50   60   70   80
승현  100   90   80   70
3     0    0    0    0
4   100  100  100  100
     수학   국어   영어   정보
서줌  100  100  100  100
유진   80   80   80   80
주안   70   70   70   70
5     0    0    0    0
국어   50   60   70   80
승현  100   90   80   70
3     0    0    0    0
4   100  100  100  100
     수학   국어   영어   정보
서줌  100  100  100  100
유진   80   80   80   80
주안   70   70   70   70
국어   50   60   70   80
승현  100   90   80   70

In [23]:
df.loc['서줌']=df.loc['승현'] #값으로 가져올 수도 있음
print(df)

     수학  국어  영어  정보
서줌  100  90  80  70
유진   80  60  80  80
주안   70  70  70  70
승현  100  90  80  70

In [27]:
df.loc['서줌',['국어','수학']] = 8000,7000  #직접 수정
print(df)

      수학    국어  영어  정보
서줌  7000  8000  80  70
유진    80    60  80  80
주안    70    70  70  70
승현   100    90  80  70