# 팀플 한번 가보자고

In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [25]:
df = pd.read_excel('대학주요정보2022.xlsx', header=0)

C:\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
df

,No,공시년도,학교명,본분교명,학교종류,학교유형,설립유형,지역명,"입학정원(학부)\n(2022,명)","졸업생수(학부)\n(2022,명)","전임교원수(학부+대학원)\n(2022,명)","재학생(학부)\n(2022,명)","신입생 경쟁률(학부)\n(2022,:1)","취업률(학부)\n(2021,%)"
0,1,2022,ICT폴리텍대학,본교,전문대학,기능대학,사립,경기,160,136,16,273,2.7,65.5
1,2,2022,가야대학교(고령),제2캠퍼스,대학,대학교,사립,경북,0,0,0,0,0.0,0.0
2,3,2022,가야대학교(김해),본교,대학,대학교,사립,경남,460,554,81,1837,4.6,71.4
3,4,2022,가천대학교,본교,대학,대학교,사립,경기,4081,4437,937,19370,15.4,64.3
4,5,2022,가톨릭관동대학교,본교,대학,대학교,사립,강원,1824,1685,410,6856,3.8,56.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,422,2022,호원대학교,본교,대학,산업대학,사립,전북,1132,1315,150,5362,10.2,73.9
422,423,2022,홍익대학교,제2캠퍼스,대학,대학교,사립,세종,1299,1439,197,5385,7.8,62.1
423,424,2022,홍익대학교,본교,대학,대학교,사립,서울,2421,3065,553,12163,16.2,64.8
424,425,2022,화성의과학대학교,본교,대학,대학교,사립,경기,246,116,34,374,4.2,62.8
425,426,2022,화신사이버대학교,본교,대학,사이버대학(대학),사립,부산,430,454,9,1581,1.6,0.0

In [17]:
df1 = pd.DataFrame(df)
df1 = df[['학교명', '본분교명', '지역명', '신입생 경쟁률(학부)\n(2022,:1)', '취업률(학부)\n(2021,%)']]
df1

           학교명   본분교명 지역명  신입생 경쟁률(학부)\n(2022,:1)  취업률(학부)\n(2021,%)
0     ICT폴리텍대학     본교  경기                     2.7               65.5
1    가야대학교(고령)  제2캠퍼스  경북                     0.0                0.0
2    가야대학교(김해)     본교  경남                     4.6               71.4
3        가천대학교     본교  경기                    15.4               64.3
4     가톨릭관동대학교     본교  강원                     3.8               56.6
..         ...    ...  ..                     ...                ...
421      호원대학교     본교  전북                    10.2               73.9
422      홍익대학교  제2캠퍼스  세종                     7.8               62.1
423      홍익대학교     본교  서울                    16.2               64.8
424   화성의과학대학교     본교  경기                     4.2               62.8
425   화신사이버대학교     본교  부산                     1.6                0.0

[426 rows x 5 columns]

In [23]:
df2 = df1[df1['지역명']=='경기']
df2

              학교명 본분교명 지역명  신입생 경쟁률(학부)\n(2022,:1)  취업률(학부)\n(2021,%)
0        ICT폴리텍대학   본교  경기                     2.7               65.5
3           가천대학교   본교  경기                    15.4               64.3
6          가톨릭대학교   본교  경기                    12.7               57.9
11          강남대학교   본교  경기                     7.4               57.3
27      경기과학기술대학교   본교  경기                     5.6               70.5
..            ...  ...  ..                     ...                ...
407         한세대학교   본교  경기                    10.6               66.8
408         한신대학교   본교  경기                     7.1               58.9
410  한양대학교(ERICA)   분교  경기                    15.3               62.8
415         협성대학교   본교  경기                     6.3               58.4
424      화성의과학대학교   본교  경기                     4.2               62.8

[76 rows x 5 columns]

In [24]:
df3 = df1[df1['지역명']=='서울']
df3

          학교명   본분교명 지역명  신입생 경쟁률(학부)\n(2022,:1)  취업률(학부)\n(2021,%)
7      가톨릭대학교  제2캠퍼스  서울                    45.5               90.5
8      가톨릭대학교  제3캠퍼스  서울                     1.1                0.0
10   감리교신학대학교     본교  서울                     0.7                0.0
16      강서대학교     본교  서울                     6.1               57.9
22      건국대학교     본교  서울                    18.3               66.6
..        ...    ...  ..                     ...                ...
406     한성대학교     본교  서울                     8.7               62.5
409     한양대학교     본교  서울                    18.9               73.5
411  한양사이버대학교     본교  서울                     1.5                0.0
412   한양여자대학교     본교  서울                     8.8               61.1
423     홍익대학교     본교  서울                    16.2               64.8

[67 rows x 5 columns]

In [28]:
df4 = pd.ExcelWriter('./경기권,서울권 대학주요정보2022.xlsx')
df2.to_excel(df4, sheet_name = '경기')
df3.to_excel(df4, sheet_name = '서울')
df4.save()

C:\Users\shinn\AppData\Local\Temp\ipykernel_17368\3624189689.py:4: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  df4.save()